/* General styles for header */
.header {
  background-color: #8c6624;
}

/* Links */
.header-link {
  text-decoration: none;
  color: #b1a69f; 
  font-size: 1rem;
  padding: 10px;
  text-transform: none; 
  transition: color 0.3s ease;
}

.header-link:hover {
  color: #000; 
}

/* Drawer styles (for mobile) */
.MuiDrawer-paper {
  background-color: #fff;
  color: #a39d99; ; 
}

.MuiButton-root {
  color: #a39d99 !important; /* SaddleBrown color */
  text-transform: none !important; /* Prevents uppercase text */
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none; /* Remove underline */
}

.MuiListItemText-primary {
  font-size: 1rem; /* Same as header-link */
  color: #a39d99; /* SaddleBrown color for Drawer text */
  text-transform: none; /* Prevent uppercase text */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.MuiListItemText-root {
  text-transform: none; /* Prevent uppercase text in drawer */
}

/* Typography for consistent font styles */
.MuiTypography-root {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
